@import "helper/variables";
@import "helper/mixin";
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);

* {
	margin: 0;
	padding: 0;
}

body {
	width: $hundred;
	color: $text-color;
	font-family: $font;
	font-size: $text-size * 2;
	margin: 0;
	min-height: 500px;
	height: 700px;
	max-height: 10000px;
	
}

.navigation {
	display: inline-block; 	
	width: 30%;
	background-color: $main-color;
	height: $hundred;
	float: left;
	p {	
		display: inline-block;
		margin: 10% 0 0 10%;
	}
	.overview {
		@include button($hundred, 60px, $button-color, 20% 0 0 0 );
		p {
			display: inline-block;
			margin: 0 0 0 10%;
			font-size: $text-size;
			color: $white;
		}
	}
}

.app-fild {
	@include block(inline-block, $hundred - 30%, $hundred);
	background-color: $white - #202020;
	float: left;
	.items {
		@include block(inline-block, 48%, 70%, 30px 5px 10px 30px);
		background-color: $white;
		float: left;
	}
	.comments {
		@include block(inline-block, 45%, 85%, 30px 5px 10px 10px);
		background-color: $white;
		float: left;
	}
}