//Colors
$main-color: #2b2f3e;
$button-color: #ff3f4c;
$white: #ffffff;
$blue : #27ccc0;
$orange: #ff8a00;
$purple: #47568c;
$delete-button: #ff3159;
$text-color: #565a69;


$hundred: 100%;

$text-size: 18px;
$font: 'Source Sans Pro', sans-serif; 